* {
  margin: 0px;
  padding: 0px;
}

html{
  min-width: 1000px;
}

body {
  min-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 20;
  background-color: white;
  top: 0;
}

.logo {
  width: 120px;
  height: 40px;
  margin: 10px 40px;
  background-image: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/logo.ee14f183979fd61abac2.svg);
  background-size: contain;
  background-repeat: no-repeat;

}

.list-text {
  list-style-type: none;
}

.list-text li {
  display: inline;
  margin-right: 40px;
}

.list-text li>a {
  color: rgb(44, 43, 43);
  text-decoration: none;
}

.list-text li>a:hover,
.list-text li:nth-child(1) a {
  color: rgb(12, 117, 238);
}

.switch-text {
  height: 100%;
  padding-top: 22px;
}

.button {
  display: block;
  width: 100px;
  height: 25px;
  border: 1px solid #ccc;

  border-radius: 20px;
  text-align: center;
  background: #fafafa;
  margin-top: 20px;
}

.button:hover {
  border: 1px solid rgb(21, 151, 238);
}

.teach-button>a {
  text-decoration: none;
  color: black;
}

.personal-button {
  margin-top: 10px;
  vertical-align: middle;
  display: flex;
  margin-left: 50px;
}

.personal-button>div {
  background-color: #ff8f74;
  color: white;
  font-size: 20px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}

.personal-button>span {
  display: block;
  margin: 5px;
  margin-top: 10px;
}

.header {
  top: 60px;
  position: relative;
}


.content {
  position: relative;
}

.content .intro-box {
  background: #ffffff;
  width: 1200px;
  height: 124px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(41, 48, 64, .1);
  margin-top: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.intro-box-text {
  float: left;
  width: 1000px;
  line-height: 32px;
  margin: auto 0;
  color: #293040;
}

.intro-box-button {
  float: right;
  background: #5e7ce0;
  color: white;
}

.intro-box-button:hover {
  background-color: #526ecc;
  border: #526ecc 1px solid;
}



.class-box {
  padding: 80px 40px;
}

.title {
  text-align: center;
}

.title>div {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

.title span {
  color: #575d6c;
}

.content-block {
  width: 360px;
  height: 386px;
  box-shadow: 0 4px 16px 0 rgba(124, 142, 227, .12);
  border-radius: 12px;
  margin: 20px 10px;
  cursor: pointer;
  box-sizing: content-box;
}

.class-content {
  display: flex;
  flex-wrap: wrap;
  /*这里要进行修改*/
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}

.content-block:hover{
  margin-top: 10px;
  box-shadow: 0 16px 20px 0 rgba(124, 142, 227, .24) !important;
}

.content-block-img {
  width: 100%;
  height: 200px;
  background-image: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/cloud-class.5974862e24f459dd518a.png);
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;

}

#img1 {
  background-position:0% 0%;
}

.time{
  border: 1px solid #959eb2;
  border-radius: 15px;
  padding: 2px;
  float: right;
}

.content-block-text{
  color: #959eb2;
  font-size: 15px;
}

.content-block-img+div{
  padding: 10px 20px;
}

.content-block-title {
  font-size: 18px;
  font-weight: bold;
}

.content-block-interpretation{
  height: 46px;
  clear: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical; 
  -webkit-line-clamp:2; 
  margin-top: 20px;
  line-height: 24px;
}

.interpretation-border{
  padding-bottom: 10px;
  border-bottom: #ccc 1px solid;
}

.free{
  float: right;
  color: #e41f2b;
  background: rgba(228, 31, 43, .1);
  margin: 20px 0;
}

#img2 {
  background-position: 0% 9.1%;
}

#img3{
  background-position: 0 18.2%;
}

.content .market-box {}

.content .activity-box {}

.footer {}