.text1{
    font-family: serif;
}

.text2{
    font-family: sans-serif;
    font-size: medium;
}

.text3{
    font-style: italic;
    font-family: songti;
}

.text4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

